
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499134120600'); /* IE9*/
  src: url('iconfont.eot?t=1499134120600#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499134120600') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499134120600') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499134120600#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hzdracom-shuaxin:before { content: "\e601"; }

.hzdracom-warning:before { content: "\e657"; }

.hzdracom-shuaxin1:before { content: "\e60d"; }

.hzdracom-lightning:before { content: "\e631"; }

.hzdracom-warning1:before { content: "\e65f"; }

.hzdracom-gengxin:before { content: "\e629"; }

.hzdracom-icon01:before { content: "\e600"; }

.hzdracom-iconfontwangluoxinhao:before { content: "\e637"; }

.hzdracom-wuxian:before { content: "\e6b5"; }

.hzdracom-kafka-broker:before { content: "\e602"; }

